@model EvidencePojisteni.Models.Insureds.Insured

@{
    ViewData["Title"] = "Editace pojištěnce";
}

<h3 class="font-weight-bold">Editace pojištěnce</h3>

<br />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="InsuredId" />
    <partial name="_InsuredPartial" />
    <div class="form-group text-center my-3">
        <input type="submit" value="Uložit" class="btn btn-lg btn-primary" />
    </div>
</form>
