@{
    ViewData["Title"] = "Domovská stránka";
}

<div class="row align-items-center">
    <div class="col-md-6">
        <img class="img-fluid" src="~/images/other/8219574_delivery_security_protection_insurance_e_icon.png" />
    </div>
    <div class="col-md-6 my-5">
        <h2 class="font-weight-bold">
            Tato aplikace je zpracována jako projekt v rámci rekvalifikačního kurzu od  <a href="https://www.itnetwork.cz/menu/kurzy/menu-rekvalifikacni-kurzy" target="blank">itnetwork.cz</a>.
        </h2>
        <h6 class="mt-3">
            Některé části tohoto projektu jsou zpracované podle <a href="https://www.itnetwork.cz/csharp/asp-net-core/e-shop" target="_blank">e-shopu</a>, který je též součástí kurzů od itnetwork.cz.
        </h6>
    </div>
</div>
