@model EvidencePojisteni.Models.Insurances.InsuranceView

@{
    ViewData["Title"] = "Editovat pojištění";
}

<h2 class="font-weight-bold">Editace pojištění</h2>

<div class="row mt-4">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InsuranceId" />
            <div class="form-group">
                <label asp-for="InsuranceName" class="control-label"></label>
                <input asp-for="InsuranceName" class="form-control" />
                <span asp-validation-for="InsuranceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuranceDescription" class="control-label"></label>
                <textarea asp-for="InsuranceDescription" class="form-control"></textarea>
                <span asp-validation-for="InsuranceDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuranceImage" class="control-label"></label>
                <input asp-for="InsuranceImage" class="form-control" />
                <span asp-validation-for="InsuranceImage" class="text-danger"></span>
                <img src="~/images/insurances/@Model.ExistingImage" class="img-thumbnail" height="100" width="400" asp-append-version="true" />
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Uložit" class="btn btn-lg btn-primary" />
            </div>
        </form>
    </div>
</div>

