@model EvidencePojisteni.Models.Account.Register
@{
    ViewData["Title"] = "Registrace";
}

<h2 class="font-weight-bold my-4">Registrace</h2>

<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>
    <partial name="_InsuredPartial" />
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-lg btn-primary">Registrace</button>
    </div>
</form>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}